<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<virtualType name="CharityGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">communitycommerce_charity</argument>
            <argument name="resourceModel" xsi:type="string">Sundial\CommunityCommerce\Model\ResourceModel\Charity</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
				<item name="charity_charity_grid_data_source" xsi:type="string">CharityGridDataProvider</item>
            </argument>
        </arguments>
    </type>	
	<type name="Sundial\CommunityCommerce\Model\ResourceModel\Charityorder\GridCollection">
        <arguments>
            <argument name="mainTable" xsi:type="string">communitycommerce_order_charity</argument>
            <argument name="resourceModel" xsi:type="string">Sundial\CommunityCommerce\Model\ResourceModel\Charityorder</argument>
        </arguments>
    </type>
	 <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="charity_charity_report_data_source" xsi:type="string">Sundial\CommunityCommerce\Model\ResourceModel\Charityorder\GridCollection</item>
            </argument>
        </arguments>
    </type>
	<type name="Sundial\CommunityCommerce\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Sundial\CommunityCommerce\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">customLogHandler</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Sundial\CommunityCommerce\Logger\Handler</item>
            </argument>
        </arguments>
    </type> 	
</config>